/* .card{
  border: 1px solid rgb(53, 53, 53);
  border-radius: 10px ;
  box-shadow: 5px 5px 5px hsla(0, 0%, 22%, 0.403) ;
  padding: 1.5rem;
  margin: 1.5rem;
  max-width: 250px;
  text-align: center;
  display: inline-block;
}


.card .card-image{
  height: 150px;
  width: 150px;
  border-radius: 70px;

};

.card .card-heading{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  color: hsl(0%, 0%, 20%);
  border: 5px solid ;
}

.card .card-para{
  font-family: Arial, Helvetica, sans-serif;
   color: hsl(0%, 0%, 30%);
} */

.student{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  box-shadow: 5px 5px 15px hsla(0, 62%, 36%, 0.142);
  margin: 5px;
  padding: 20px;
}
.student p{
  margin: 0;
}